#Logo{
	width:198px;
	height:40px;
	position:absolute;
	left:19px;
	top:12px;
}

body {
    background-color: #ffffff;
    font-size: .75em;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p {
    margin-bottom: 20px;
    line-height: 1.6em;
}

.page {
    margin-left: auto;
    margin-right: auto;
}

div#header {
    color: #000;
    padding: 0;
    width: 970px;
    margin: 0 auto;
    height: 70px;
}

div#title {
    margin-left: 10px;
    display: block;
    float: left;
    width: 200px;
    height: 60px;
}

div#slogan {
    float: right;
    margin: 10px;
    font-size: 14px;
}

div#logindisplay {
    font-size: 1.1em;
    display: block;
    float: right;
    margin-top: 10px;
    color: #000;
}

div#logindisplay a:link {
    color: #000;
    text-decoration: underline;
}

div#logindisplay a:visited {
    color: #000;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: #000;
    text-decoration: none;
}

div#main {
    clear: both;
    overflow: auto;
    width: 950px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 10px 10px 50px 10px;
}

div#guestmain {
    clear: both;
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}

div#footer {
    clear: both;
    overflow: auto;
    background: url("../../back/images/foot.png") repeat-x top;
    text-align: center;
    padding-top: 5px;
    width: 100%;
}

div#footer p {
    font-size: 12px;
    margin: 3px auto;
}

a.buttonstyle {
    padding: 8px;
    border: 2px outset #ffffff;
    cursor: pointer;
    background-color: #d4d0c8;
    text-align: center;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: auto;
}

h5 {
    font-size: 14px;
    font-weight: normal;
    color: black;
}

div.left {
    float: left;
}

div#menucontainer {
    clear:both;
    background: url(../../back/images/bg_menu.gif) repeat-x bottom;
    cursor: pointer;
    height: 40px;
}

div#menucontainer-top {
    width: 800px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin-left: 0;
}

ul#menu {
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;
}

ul#menu li {
    list-style: none;
    float: left;
    border-left: 1px solid #fff;
    margin-top: 9px;
}

ul#menu li.active{
    background: url('../../back/images/obarhover.gif') repeat-x bottom;
}

ul#menu li:hover {
    background: url('../../back/images/obarhover.gif') repeat-x bottom;
}

ul#menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px 5px 10px;
    display: block;
}

ul#menu li a:hover {
    color: #fff;
	
}

ul#menu li a:active {
    text-decoration: none;
    
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

h2{
    font-size:16px;
    font-weight:bold;
    color:#ff8010;
    border-bottom:1px solid;
    width:500px;
    padding:0;
}

div#leftbox {
    float: left;
    width: 150px;
}

div#leftbox ul {
    list-style: none;
    margin-left: 0;
    margin-right: 20px;
    padding: 0;
}

div#leftbox li {
    border-bottom: 1px solid #ccc;
    padding: 7px 0 7px 2px;
}

div#leftbox a {
    text-decoration: none;
}

div#leftbox li.active a {
    color: #393;
    font-weight: bold;
}

div#leftbox li.main {
    font-weight: bold;
    font-size: 16px;
}

div#leftbox li.sub {
    margin-left: 10px;
    font-size: 14px;
}

div#content {
    float: right;
    width: 780px;
}
div#leftbox li.framtitle {
    font-weight: bold;
    font-size: 16px;
}
span.redstar{
    color: red;
}
span.grayfont{
    color: gray;
}
.btn29
{
	width:79px;
	height:32px;
	line-height:20px;
	font-size:14px;
	font-weight:bold; 
	background:url("../../back/images/button/bg29.jpg") no-repeat left top;
	color:#FFF;
	border:0;
	cursor:hand;
}
textArea{
	width:500px;
	height:200px;
}
.fckTag{
	width=700px;
}