BODY {
	FONT-SIZE: 12px; MARGIN: 0px; BACKGROUND-COLOR: #ffffff; OVERFLOW-Y:   scroll;   OVERFLOW-X:   scroll;
}
TD {
	FONT-SIZE: 12px
}
.font_left_00 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
.font_left_01 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"; LETTER-SPACING: 5px
}
.font_left_01_b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; LETTER-SPACING: 5px
}
.font_left_02 {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"
}
.font_left_03 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; LETTER-SPACING: 1px
}
.font_left_04 {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"
}
.font_left_05 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
.font_left_06 {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"
}
.font_bottom_01 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.font_bottom_02 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"
}
.font_bottom_03 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"
}
.font_right_01 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 200%; FONT-FAMILY: "宋体"
}
.font_right_01_b {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-INDENT: 24px; LINE-HEIGHT: 200%; FONT-FAMILY: "宋体"
}
.font_center_01 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffd200; FONT-FAMILY: "宋体"
}
.font_center_02 {
	FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 25px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #dfe9ef
}
.font_center_02_b {
	FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 25px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #cee7fb
}
.font_center_04 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #3571a3
}
.font_center_03 {
	FONT-SIZE: 12px; COLOR: #790000; FONT-FAMILY: "宋体"
}
.blue_bold {
	FONT-SIZE: 12px; COLOR: #004a80; FONT-FAMILY: "宋体"
}
.blue_normal {
	FONT-SIZE: 12px; COLOR: #004a80; FONT-FAMILY: "宋体"
}
.font_black {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
.font_black_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
.font_title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: "宋体"
}
.font_blue {
	FONT-SIZE: 12px; COLOR: #3130ff; FONT-FAMILY: "宋体"
}
.font_blue_b {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"
}
.ts {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 80px; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: '宋体'
}
.ts_b {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 180px; BORDER-BOTTOM: #c3c3c3 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.ts_c {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c3c3c3 1px solid; BORDER-BOTTOM: #c3c3c3 1px solid; BACKGROUND-COLOR: #ffffff
}
.ts_b_backup {
	FONT-SIZE: 12px; WIDTH: 180px; FONT-FAMILY: '宋体'
}
.ts_c {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 110px; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: '宋体'
}
.ts_d {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c3c3c3 1px solid; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: '宋体'
}
.ts_e {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c3c3c3 1px solid; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: '宋体'
}
.txt {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; BORDER-BOTTOM: #c3c3c3 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.tsarea {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 550px; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: '宋体'; HEIGHT: 80px
}
.tsarea_b {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 550px; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: '宋体'; HEIGHT: 80px
}
.tsarea_c {
	FONT-SIZE: 12px; WIDTH: 150px; FONT-FAMILY: '宋体'
}
.bt {
	BORDER-RIGHT: #7b99b0 0px solid; BORDER-TOP: #7b99b0 0px solid; PADDING-LEFT: 18px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../images/b_s.gif); BORDER-LEFT: #7b99b0 0px solid; WIDTH: 72px; COLOR: #000000; BORDER-BOTTOM: #7b99b0 0px solid; HEIGHT: 21px; TEXT-DECORATION: none
}

.bt_bg {
	BORDER-RIGHT: #7b99b0 0px solid; BORDER-TOP: #7b99b0 0px solid; PADDING-LEFT: 18px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../images/bt_bg.gif); BORDER-LEFT: #7b99b0 0px solid; WIDTH: 130px; COLOR: #000000; BORDER-BOTTOM: #7b99b0 0px solid; HEIGHT: 21px; TEXT-DECORATION: none
}
.bt1 {
	BORDER-RIGHT: #7b99b0 0px solid; BORDER-TOP: #7b99b0 0px solid; PADDING-LEFT: 18px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../images/b_l.gif); BORDER-LEFT: #7b99b0 0px solid; WIDTH: 115px; COLOR: #000000; BORDER-BOTTOM: #7b99b0 0px solid; HEIGHT: 21px; TEXT-DECORATION: none
}
.time_01 {
	FONT-SIZE: 14px; COLOR: #224c99; TEXT-INDENT: 24pt; FONT-FAMILY: '宋体'
}
.time_02 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: '宋体'
}
.time_03 {
	TEXT-INDENT: 24pt
}
.font_white {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: '宋体'
}
.font_white_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: '宋体'
}
.font_blue_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #004a80; FONT-FAMILY: '宋体'
}
A.link_top_01:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_top_01:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_top_01:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_top_02:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_top_02:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_top_02:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_top_03:link {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_top_03:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_top_03:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.left_01:link {
	FONT-SIZE: 12px; COLOR: #ff8400; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.left_01:visited {
	FONT-SIZE: 12px; COLOR: #ff8400; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.left_01:hover {
	FONT-SIZE: 12px; COLOR: #ff8400; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.left_01:active {
	FONT-SIZE: 12px; COLOR: #ff8400; FONT-FAMILY: "宋体"
}
A.left_02:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.left_02:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.left_02:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.left_02:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
A.left_03:link {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.left_03:visited {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.left_03:hover {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.left_03_b:link {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.left_03_b:visited {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.left_03_b:hover {
	FONT-SIZE: 12px; COLOR: #224c99; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.left_03_b:active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
A.link_bottom:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_bottom:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_bottom:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_center_01:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffd200; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffd200; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_center_01:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffd200; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_center_01:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffd200; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_blue_bold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #004a80; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #004a80; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_blue_bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #004a80; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_blue_bold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #004a80; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_blue:link {
	FONT-SIZE: 12px; COLOR: #3130ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #3130ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_blue:visited {
	FONT-SIZE: 12px; COLOR: #3130ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_blue:hover {
	FONT-SIZE: 12px; COLOR: #3130ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_note:link {
	FONT-SIZE: 12px; COLOR: #790000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #790000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_note:visited {
	FONT-SIZE: 12px; COLOR: #790000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_note:hover {
	FONT-SIZE: 12px; COLOR: #790000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_white_bold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_white_bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_white_bold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_white:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_white:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_white:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_page:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_page:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_page:hover {
	FONT-SIZE: 12px; COLOR: #707070; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_db:link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: line-through
}
active {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: line-through
}
A.link_db:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: line-through
}
A.link_db:hover {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: line-through
}
A.link_db_01:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_db_01:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_db_01:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_db_02:link {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_db_02:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link_db_02:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_red:link {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
active {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_red:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.link_red:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
.liststyle {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
TH {
	DISPLAY: inline; FONT-WEIGHT: lighter; FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 25px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #dfe9ef; TEXT-ALIGN: left
}
.bookmark {
	BORDER-RIGHT: #7b99b0 1px solid; BORDER-TOP: 0px; BORDER-LEFT: #7b99b0 1px solid; BORDER-BOTTOM: #7b99b0 1px solid
}
.outBKcurrent {
	BORDER-RIGHT: #7696af 1px solid; BORDER-TOP: #7696af 1px solid; BORDER-LEFT: #7696af 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #3571a3; TEXT-ALIGN: center
}
.outBK {
	BORDER-RIGHT: #7696af 1px solid; BORDER-TOP: #7696af 1px solid; BORDER-LEFT: #7696af 1px solid; CURSOR: hand; BORDER-BOTTOM: #7696af 1px solid; BACKGROUND-COLOR: #cee7fb; TEXT-ALIGN: center
}
.innerBKcurrent {
	BORDER-RIGHT: #7696af 1px solid; BORDER-TOP: #7696af 1px solid; BORDER-LEFT: #7696af 1px solid; CURSOR: hand; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #cee7fb; TEXT-ALIGN: center
}
.innerBK {
	BORDER-RIGHT: #7696af 1px solid; BORDER-TOP: #7696af 1px solid; BORDER-LEFT: #7696af 1px solid; CURSOR: hand; BORDER-BOTTOM: #7696af 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.onlyUnderline {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: #7696af 1px solid
}
.borderAll {
	BORDER-RIGHT: #7696af 1px solid; BORDER-TOP: #7696af 1px solid; BORDER-LEFT: #7696af 1px solid; BORDER-BOTTOM: #7696af 1px solid
}
A.BK_black:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.BK_black:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.BK_black:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.BK_white:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.BK_white:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.BK_white:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.calendar_1 {
	FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #c1d0f1
}
.calendar_2 {
	FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #dee5f7
}
.newscontent {
	FONT-SIZE: 120%; TEXT-INDENT: 24pt
}
.newscontent2 {
	FONT-SIZE: 120%
}
.newsdate {
	COLOR: #999999
}
.bookmarkInSale {
	BORDER-RIGHT: #7b99b0 1px solid; BORDER-TOP: #7b99b0 1px solid; BORDER-LEFT: #7b99b0 1px solid; BORDER-BOTTOM: #7b99b0 1px solid
}
