﻿<#import "../layouts/common_standard.ftl" as common_standard> <#import
"standard.ftl" as standard> <#escape x as x?html>
<@common_standard.page_header/> <@standard.page_body
active_submenu="cuisineTotal">
<link href="<@spring.url '/css'/>/newstyle.css" rel="stylesheet"
	type="text/css">
<link href="<@spring.url '/css'/>/baseclass.css" rel="stylesheet"
	type="text/css">

<style>
.o_td b {
	font-size: 16px;
	padding-top: 3px;
}

.o_td img {
	vertical-align: -8px;
	margin-right: 7px;
}
</style>

<div style="float: right; width: 100%;">
	<table width="100%" height="25" border="0" cellpadding="2"
		cellspacing="0">
		<tr>
			<td class="o_td">
				<img src="<@spring.url '/'/>images/title_arrow.gif">
				<b>消费统计列表</b>
			</td>
			<td width="533" valign="bottom">
				&nbsp;
			</td>
		</tr>
	</table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr bgcolor="#B3CADE">
			<td height="2"></td>
		</tr>
		<tr bgcolor="#FFFFFF">
			<td height="4"></td>
		</tr>
	</table>
	<table height="100%" cellSpacing=0 cellPadding=0 width="99%">
		<tbody>
			<tr>
				<td class=tdmain vAlign=top>

					<table height="100%" cellSpacing=0 cellPadding=0 width="100%">
						<tr>
							<td class=tdmain_in_tit>

								<@spring.bind "memberOrderInforVo.*" />
								<form id="searchForm" name="searchForm"
									action="<@spring.url '/back/statistics/cuisine_search.htm'/>"
									method="get">
									<span class='navstl' width="100%">

										<table width="100%" cellPadding=5 cellSpacing=3>
											<tr>
												<td align="left" style="bg-color: #ffffff">
													选择菜系：
													<select id="cuisine" name="cuisine"
														class="validate[required] inputStyle">
														<option value="">
															--选择菜系--
														</option>
													</select>
												</td>

											</tr>
											<tr>
												<td align="left" style="bg-color: #ffffff">

													订单日期：起始时间：
													<input type="text" id="startDate" name="startDate"
														class="searchInfor inputStyle Wdate"
														value="${(memberOrderInforVo.startDate)!""}" size="12"
														onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',errDealMode:1,isShowOthers:false})" />
													结束时间：
													<input type="text" id="endDate" name="endDate"
														class="searchInfor inputStyle Wdate"
														value="${(memberOrderInforVo.endDate)!""}" size="12"
														onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',errDealMode:1,isShowOthers:false})" />
													&nbsp;&nbsp;
													<input type="button"
														class='inputcss inputpointer inputStyle'
														onclick="searchForm.submit();return false;" value="  查询  " />
													&nbsp;
													<input type="button"
														class='inputcss inputpointer inputStyle'
														onclick="setNullInfor('searchInfor')" value="  清空  " />
												</td>

											</tr>
										</table> </span>
								</form>

							</td>
						</tr>


					</table>
				</td>
			</tr>


			<tr height="300px">
				<td valign="top">
					<table width="100%" cellPadding=0 cellSpacing=0 border=0
						class=text-overflow style="FONT-SIZE: 13px; BACKGROUND: #fff">
						<tbody>
							<tr  align="center"
								style="padding-left: 5px; background: #ccccd9; color: #7793aa; border-bottom: #333333 3px solid; height: 25px;">

								<td width="1%">
									&nbsp;
								</td>
								<td width="6%" nowrap>
									&nbsp; 序号
								</td>
								<td width="1%">
									&nbsp;
								</td>
								<td width="12%" nowrap>
									&nbsp; 菜系
								</td>
								<td width="1%">
									&nbsp;
								</td>
								<td width="32%" nowrap>
									&nbsp; 消费金额
								</td>
								
							</tr>

							<#assign index=0>
							<#if (records?size>0)> <#list records as order>
							<#if (order_index)%2==0 >
							<tr class="MLTR"  align="center"   height="30" valign="middle"
								bgcolor="#ffffff">
								<#else>
							<tr class="MLTR"  align="center"  height="30" valign="middle"
								bgcolor="#edf1f4">
								</#if>
								<td>
									&nbsp;
								</td>
								<td nowrap  >
									&nbsp;&nbsp;${order_index+1}
								</td>

								<td>
									&nbsp;
								</td>
								<td  >
									${order[1].restaurant.cuisine!""}
								</td>
								<td>
									&nbsp;
								</td>
								<td  >
									<a href="<@spring.url'/back/cuisineAmount.htm'/>"
										onclick="return cuisineAmount(this,'${order[1].restaurant.cuisine!""}')"
										style="text-decoration: none;" target="_blank">
										(${order[0]!""}￥)	
									 </a>
								 								
								</td>
								
							</tr>
							 
							</#list> </#if>
						</TBODY>
					</table>
				</td>
			</tr>
	</table>
	</td>
	</tr>

	</tbody>
	</table>
	<br>
</div>
<script type="text/javascript">
		 function cuisineAmount(atag, cuisine ){

	 		startDate=$("#startDate").attr("value");
	 		endDate=$("#endDate").attr("value");
	 		cuisine = encodeURI(cuisine);
		 	var condition = "?cuisine="+cuisine+"&startDate="+startDate+"&endDate="+endDate+"";
		  
		 	atag.href="<@spring.url '/back/cuisineAmount.htm'/>"+condition;
			//alert(atag.href);
		 	//return false;
		 }
		</script>
<script>
			//初始化验证
			$(document).ready(function() {
				 
					fillUserOption("#cuisine","<@spring.url'/back/common/autoselect.htm?commonType=1'/>","json","commonName","commonName","POST","选择菜系");	
					$("#cuisine [value=${memberOrderInforVo.cuisine!""}]").attr("selected",true);
			});
			
		 
		</script>
</@standard.page_body> </#escape>
