html {
	overflow-y: scroll;
}

div#leftbox {
	float: left;
}

.grid1 {
	text-indent: 20px;
	color: blue;
}

.grid2 {
	text-indent: 40px;
}

.grid3 {
	text-indent: 80px;
}

.L1 a:link span {
	font-weight: bold;
	padding-right: 0px;
	padding-left: 16px;
	padding-bottom: 0px;
	vertical-align: middle;
	width: 100%;
	cursor: hand;
	padding-top: 7px;
	height: 24px;
}

.L1 span {
	display: inline-block;
	margin-top: -2px;
}

.L22 span {
	display: inline-block;
	vertical-align: middle;
	height: 24px;
}

.L22 a:link {
	display: block;
	padding-left: 13px;
	font-size: 12pt;
	background: none transparent scroll repeat 0% 0%;
	color: #444659;
	height: 24px;
	text-decoration: none;
}

.L22 a:link span {
	padding-top: 0px padding-right :     0px;
	padding-left: 26px;
	height: 24px;
	padding-top: 6px;
	padding-bottom: 0px;
	vertical-align: middle;
	cursor: hand;
}

.L22 a:hover {
	border: #6da6d1 1px solid;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 12px;
	background: #d9e6f4;
	color: #000;
	text-decoration: none;
}

.bloadP {
	FONT-WEIGHT: bold
}

.titleP {
	PADDING-LEFT: 10px;
	OVERFLOW: auto;
	WORD-BREAK: break-all
}

.inputpointer {
	cursor: pointer;
}

.inputcss {
	border: #a6c9e2 1px solid;
	height: 20px;
}

#nav {
	line-height: 24px;
	list-style-type: none;
	background: #666;
}

#nav a {
	display: block;
	width: 80px;
	text-align: center;
}

#nav a:link {
	color: #666;
	text-decoration: none;
}

#nav a:visited {
	color: #666;
	text-decoration: none;
}

#nav a:hover {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

#nav li {
	float: left;
	width: 80px;;
}

#nav li a:hover {
	background: #999;
}

#nav li ul {
	line-height: 27px;
	list-style-type: none;
	text-align: left;
	left: -999em;
	width: 180px;
	position: absolute;
}

#nav li ul li {
	float: left;
	width: 180px;
	background: #B0C4DE;
}

#nav li ul a {
	display: block;
	width: 180px;
	width: 156px;
	text-align: left;
	padding-left: 24px;
}

#nav li ul a:link {
	color: #666;
	text-decoration: none;
}

#nav li ul a:visited {
	color: #666;
	text-decoration: none;
}

#nav li ul a:hover {
	color: #F3F3F3;
	text-decoration: none;
	font-weight: normal;
	background: #C00;
}

#nav li:hover ul {
	left: auto;
}

#nav li.sfhover ul {
	left: auto;
}

#content {
	clear: left;
}