﻿.shopallCate .nv:after,.shopallCate .list:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
}

.shopallCate .list {
	zoom: 1;
}

.shopallCate {
	margin-top: 10px;
}

.shopallCate h2 {
	color: #c00;
	background: #efefef;
	font-size: 13px;
	position: relative;
	zoom: 1;
	padding: 3px 10px;
}

.shopallCate h2 a {
	background: url(../../images/top.gif) no-repeat;
	width: 34px;
	height: 14px;
	display: block;
	position: absolute;
	top: 8px;
	right: 10px;
}

.shopallCate .list dt,.shopallCate .list dd
	{
	float: left;
}

.shopallCate .nv dd ul li,.shopallCate .list dd ul li {
	float: left;
	margin: 3px 5px 0 3px;
	white-space: nowrap;
}

.shopallCate .list dd ul li {
	margin: 3px 3px 0 0;
}

.shopallCate .list {
	padding: 0 5px;
	margin: 3px 0;
}

.shopallCate .list dt {
	color: #555;
	padding: 6px 0 0 5px;
	width: 75px;
	font-size: 13px;
	margin: 3px 0 0 0;
}

.shopallCate .list dd {
	padding-top: 6px;
}

.shopallCate .list dt a,.shopallCate .list dt a:link
	{
	color: #666;
	background: #fff;
	text-decoration: none;
}

.shopallCate .list dt a:hover {
	color: #fff;
	background: #666;
}