﻿body,div,ul,li,h1,h2,p
	{
	margin: 0;
	padding: 0
}

body {
	font-size: 12px;
	font-family: arial, SimSun, Verdana, Geneva, Helvetica;
	color: #131313;
	line-height: 20px;
	-webkit-text-size-adjust: none
}

a {
	color: #001D75;
	text-decoration: underline
}

ul {
	list-style: none
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

.left {
	float: left
}

.right {
	float: right
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
	margin: 0 auto;
	font-size: 1px
}

.clx {
	*zoom: 1
}