﻿/*!g.base.css * @build 20100415-01 */
html,body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,a,img,th,td,form,fieldset,iframe,object,pre,code,legend,blockquote
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.main_w .content_b .shopallCate .list .Bravia{
	font-weight: bold;
}

ol,ul {
	list-style: none;
}

:focus {
	outline: 0;
}

strong {
	font-weight: bold;
}

address,caption,cite,em,code,dfn,th,var {
	font-style: normal;
	font-weight: normal;
}

form label {
	cursor: pointer;
}

input,button,textarea {
	font-family: inherit;
	font-size: 100%;
}

table {
	border-collapse: separate;
}

caption,th,td {
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}

a {
	color: #333;
	text-decoration: none;
}

a.B,a.BL,a.BH,a.W,a.WL,a.G,a.GL,a.R,a.RL,a.BLACK {
	padding: 2px 1px 0 1px;
}

a.BL,a.WL,a.GL,a.RL {
	text-decoration: underline;
}

a.B,a.BL:hover,a.BH,a.W,a.G,a.R,a.BLACK {
	text-decoration: none;
}

a.B,a.BL {
	color: #66c;
}

a.B:hover,a.BL:hover,a.B:active,a.BL:active,a.BH {
	color: #fff;
	background-color: #66c;
}

.section {
	margin: 0 auto;
}

.main_s,.section_s,.main_w,.section_w {
	font-size: 13px;
}

.nav_w,.nav_s {
	font-family: Verdana;
}

.content_a,.aside_a,.content_b,.aside_b,.content_c,.aside_c,.content_d,.aside_d,.col
	{
	display: inline;
	overflow: hidden;
}

.content_a {
	width: 700px;
	float: left;
}

.aside_a {
	width: 240px;
	margin-left: 20px;
	float: left;
}

.content_b {
	width: 710px;
	float: left;
	margin-right: 10px;
}

.aside_b {
	width: 240px;
	float: left;
}

.content_c {
	width: 610px;
	float: left;
	margin-right: 10px;
}

.aside_c {
	float: right;
}

.content_d {
	width: 580px;
	float: left;
	margin-right: 10px;
}

.aside_d {
	width: 185px;
	float: right;
}

.content_e {
	width: 740px;
	float: left;
	margin-right: 20px;
}

.aside_e {
	width: 200px;
	float: left;
}

body {
	color: #333;
	background: transparent;
	font: 12px/1.5 Arial, sans-serif;
}

.tipClose {
	background-position: 43px -404px;
}

.Pos {
	position: relative;
	zoom: 1;
}

.Hide {
	display: none !important;
}

.Invisible {
	visibility: hidden;
	position: absolute;
}

.Clear {
	clear: both;
}