﻿body{
	font: 12px/1.5 tahoma, arial, \5b8b\4f53
}

h1,h2 {
	font-size: 100%
}

.grid {
	width:100%;
	margin: 0 auto;
	clear: both
}

a {
	color: #36c;
	text-decoration: none
}

a:hover {
	color: #36c;
	cursor: pointer;
	text-decoration: underline
}

html {
	_text-overflow: ellipsis
}

.detailBox {
	border: 1px solid #e3e3e3;
	position: relative;
	z-index: 1
}

.detailBox .boxTop {
	background: url(../../images/detailbg.png) 0 0;
	height: 64px;
	border-bottom: 1px dotted #dedede
}

.detailBox .boxTop .hotelName {
	margin-left: 11px;
	_margin-left: 6px;
	margin-top: 8px;
	float: left;
	float: left
}

.detailBox .boxTop .hotelName li {
	clear: left;
	color: #444;
	overflow: hidden
}

.detailBox .boxTop .hotelName li.db {
	height: 20px
}

.detailBox .boxTop .hotelName li h1 {
	color: #000;
	background: url(../../images/hotels2012.png) -43px 8px
		no-repeat;
	font-size: 20px;
	font-family: "Microsoft Yahei";
	padding-left: 20px;
	float: left
}

.detailBox .boxTop .hotelName li a.ghi:hover {
	color: #f60;
	text-decoration: underline
}

.detailBox .boxTop .hotelPrice {
	float: right;
	margin-right: 11px;
	margin-top: 8px
}

.detailBox .boxTop .hotelPrice li {
	width: 150px;
	text-align: right;
	color: #444
}

.detailBox .boxTop .hotelPrice li span.sy {
	font-family: Arial
}

.detailBox .boxTop .hotelPrice li span.ora {
	color: #ff8c00;
	margin: 0 3px
}

.detailBox .boxTop .hotelPrice li span.sz20 {
	font-size: 20px
}

.detailBox .boxTop .hotelPrice li span.sz14 {
	font-size: 14px
}

.detailBox .boxTop .hotelPrice a.btn:hover {
	background: url(../../images/detailicon.png) 0 -41px no-repeat
}

.detailBox .boxLeft {
	width: 738px;
	float: left;
	margin-top: 10px
}

.detailBox .boxLeft .img {
	width: 100%;
	height: 220px;
	float: right
}

.detailBox .boxLeft .img .focus {
	width: 360px;
	height: 220px;
	float: left;
	overflow: hidden;
	position: relative
}

.detailBox .boxLeft .img .focus .manip {
	width: 310px;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0
}

.detailBox .boxLeft .img .focus .manip a.left {
	width: 27px;
	display: inline-block;
	height: 30px;
	float: left;
	background: url(../../images/detailicon.png) -57px -286px
		no-repeat;
	cursor: pointer
}

.detailBox .boxLeft .img .focus .manip a.left:hover {
	background: url(../../images/detailicon.png) -57px -316px
		no-repeat
}

.detailBox .boxLeft .img .focus .manip .cor {
	width: 256px;
	height: 30px;
	float: left;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	filter: progid : DXImageTransform.Microsoft.gradient ( enabled = 'true',
		startColorstr = '#99000000', endColorstr = '#99000000' );
	background: rgba(0, 0, 0, 0.6)
}

:root .detailBox .boxLeft .img .focus .manip .cor {
	filter: none
}

.detailBox .boxLeft .img .focus .manip a.right {
	width: 27px;
	display: inline-block;
	height: 30px;
	float: right;
	background: url(../../images/detailicon.png) -84px -286px
		no-repeat;
	cursor: pointer
}

.detailBox .boxLeft .img .focus .manip a.right:hover {
	background: url(../../images/detailicon.png) -84px -316px
		no-repeat
}

.detailBox .boxLeft .img .box {
	width: 300px;
	height: 220px;
	float: right
}

.detailCon {
	margin-top: 10px
}

.detailCon .left {
	width: 100%;
	float: left
}

.detailCon .in {
	border: 1px solid #ccc;
	margin-bottom: 10px
}

.faci h2{
	width: 98%;
}

.detailCon .in h2 {
	background: url(../../images/detailbg.png) 0 -259px repeat-x;
	color: #131313;
	padding: 6px;
	font-size: 14px;
	font-weight: bold
}

.detailCon .faci {
	width: 100%;
	margin-top: 10px
}

.detailCon .faci .bgy {
	color: #555;
	padding: 10px 7px 5px 10px;
	*zoom: 1
}

.detailCon a.gray:hover {
	color: #ff7200
}

.detailCon .traffic_info {
	text-align: justify;
	text-justify: inter-ideograph;
	margin-left: 3px;
	padding-left: 10px
}
