<#import "../layouts/common_standard.ftl" as common_standard> <#import
"../user/standard.ftl" as standard> <#escape x as x?html>
<@common_standard.page_header/>
<style type="text/css">
body {
	font-family: 微软雅黑;
	font-size: 15px;
	font-weight: bold;
}

.th1 {
	width: 27%;
}

.th2 {
	width: 30%;
}
</style>
<@standard.page_body main_label="数据管理" active_submenu="contact" >
<form action="
	<@spring.url '/back/datamanager/index.htm'/>" method="post" >
	<table>
  <tr>
    <th class="th1">Inter</th>
    <th  class="th2"><input class="input" type="password"    name="key"  /></th>
    <th> <input   type="submit"    name="Comit"  /></th>
  </tr>
 
</table>
				
				
				 <br />
			
			</form>
<br />
<#if  (DATAMANAGER_PASS!"1")="true">
<br />
<form action="
	<@spring.url '/back/datamanager/common.htm'/>" method="post"   enctype="multipart/form-data">

	<table>
  <tr>
    <th class="th1">菜系</th>
    <th  class="th2"><input class="input" type="password"    name="key"  /></th>
     <th   ><input type="file" name="excelFile" id="excelFile"  size="50"></th>
    <th> <input   type="submit"    name="Comit"  /></th>
  </tr>
 
</table>
					
</form>
<br />
<form action="
	<@spring.url '/back/datamanager/circle.htm'/>" method="post"   enctype="multipart/form-data">

	<table>
  <tr>
    <th class="th1">商圈</th>
    <th  class="th2"><input class="input" type="password"    name="key"  /></th>
     <th   ><input type="file" name="excelFile" id="excelFile"  size="50"></th>
    <th> <input   type="submit"    name="Comit"  /></th>
  </tr>
 
</table>
					
</form>


<br />
<form action="
	<@spring.url '/back/datamanager/rank.htm'/>" method="post"    enctype="multipart/form-data">

	<table>
  <tr>
    <th class="th1">推荐</th>
    <th  class="th2"><input class="input" type="password"    name="key"  /></th>
     <th   ><input type="file" name="excelFile" id="excelFile"  size="50"></th>
    <th> <input   type="submit"    name="Comit"  /></th>
  </tr>
 
</table>
					
</form>


<br />
<form action="
	<@spring.url '/back/datamanager/restaurant.htm'/>" method="post"   enctype="multipart/form-data">

	<table>
  <tr>
    <th class="th1">餐厅信息</th>
    <th  class="th2"><input class="input" type="password"    name="key"  /></th>
    <th   ><input type="file" name="excelFile" id="excelFile"  size="50"></th>
    <th> <input   type="submit"    name="Comit"  /></th>
  </tr>
 
</table>
					
</form>



<br />
<form action="
	<@spring.url '/back/datamanager/menu.htm'/>" method="post"   enctype="multipart/form-data">

	<table>
  <tr>
    <th class="th1">菜单信息</th>
    <th  class="th2"><input class="input" type="password"    name="key"  /></th>
    <th   ><input type="file" name="excelFile" id="excelFile"  size="50"></th>
    <th> <input   type="submit"    name="Comit"  /></th>
  </tr>
 
</table>
					
</form>




<br />
<form action="
	<@spring.url '/back/datamanager/table.htm'/>" method="post"   enctype="multipart/form-data">

	<table>
  <tr>
    <th class="th1">桌位图信息</th>
    <th  class="th2"><input class="input" type="password"    name="key"  /></th>
    <th   ><input type="file" name="excelFile" id="excelFile"  size="50"></th>
    <th> <input   type="submit"    name="Comit"  /></th>
  </tr>
 
</table>
					
</form>



<br />
<form action="
	<@spring.url '/back/datamanager/time.htm'/>" method="post"   enctype="multipart/form-data">

	<table>
  <tr>
    <th class="th1">时间段信息</th>
    <th  class="th2"><input class="input" type="password"    name="key"  /></th>
    <th   ><input type="file" name="excelFile" id="excelFile"  size="50"></th>
    <th> <input   type="submit"    name="Comit"  /></th>
  </tr>
 
</table>
					
</form>

<#else> </#if> </@standard.page_body> </#escape>
