<#import "../layouts/common_standard.ftl" as common_standard>
<#import "../user/standard.ftl" as standard>
<#escape x as x?html>
	<@common_standard.page_header/>

	<script type="text/javascript">
		function onInvokeAction(id) {
		    setExportToLimit(id, '');
		    createHiddenInputFieldsForLimitAndSubmit(id);
		}
		function onInvokeExportAction(id) {
		    var parameterString = createParameterStringForLimit(id);
		    location.href = '<@spring.url '/back/common/list.htm'/>?' + parameterString;
		}
		function doAdd(){
			form.action = '<@spring.url '/back/common/edit.htm'/>';
			createHiddenInputFieldsForLimitAndSubmit('jmesa','filter');
		}
		function modify(id){
			form.action = '<@spring.url '/back/common/edit.htm'/>?commonId=' + id;
			createHiddenInputFieldsForLimitAndSubmit('jmesa','filter');
		}
		function remove(id){
			//if(confirm("您即将删除信息，请确认！")){
			form.action = "<@spring.url '/back/common/delete.htm'/>?commonId=" +id;
			createHiddenInputFieldsForLimitAndSubmit('jmesa','filter');
			//}
		}
	</script>
	<@standard.page_body main_label="基本信息管理" active_submenu="common" >
		<form action="<@spring.url '/back/common/list.htm'/>" method="post" name="form">
			<div id="jmesa">
				<input type="hidden" name="pageNo" id="pageNo" value="${baseCommonInforVo.pageNo!""}" />
				<input type="hidden" name="pageSize" id="pageSize" value="${baseCommonInforVo.pageSize!""}" />
				<input type="hidden" name="orderBy" id="orderBy" value="${baseCommonInforVo.orderBy!""}"/>
				<input type="hidden" name="order" id="order" value="${baseCommonInforVo.order!""}" />
				<#noescape>${jmesaHtml}</#noescape>
			</div>
			<div>
				<br>
				<input type="button" class="btn29" value="新增" onclick="doAdd();" onmouseover="this.style.backgroundPosition='left -33px'" onmouseout="this.style.backgroundPosition='left top'"/>
			</div>
		</form>
	</@standard.page_body>
</#escape>